body {
  background-color: #141858;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

ul li a {
  color: white;
}

.d-flex {
  display: flex;
}

.align-centr {
  align-items: center;
}

.list-none {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.container ul li {
  margin: 0 10px;
}

.general-hero .container-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
}
.general-hero .container-hero .comic-image {
  border: 10px solid red;
  position: relative;
  top: 20px;
  left: 20px;
}
.general-hero .comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}

header .blu-bar-header {
  background-color: #0c7cec;
  justify-content: flex-end;
  padding: 5px 20px;
}
header .blu-bar-header .dc-power,
header .blu-bar-header .additional {
  margin-right: 30px;
}
header .img-logo {
  margin: 20px 0;
}
header .navbar-nav {
  text-transform: uppercase;
}
header .navbar-nav ul .search-header {
  margin-left: 10px;
  text-transform: capitalize;
  border-bottom: 2px solid #0c7cec;
  padding: 0 15px 5px 20px;
}
header .navbar-nav ul .search-header .fa-search {
  font-size: smaller;
  margin-left: 7px;
  position: relative;
  top: 2px;
}
header .navbar-nav ul li a {
  text-decoration: none;
  margin: 0 10px;
  font-size: large;
}
header .navbar-nav ul li a:hover {
  color: #0071f3;
}

footer .footer-hero-container {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
footer .footer-hero-container .container-hero-1300 {
  max-width: 1300px;
  border: 1px solid red;
  margin: auto;
}
footer .footer-hero-container .container-hero-1300 .footer-list {
  flex-wrap: wrap;
  width: 300px;
}
footer .footer-hero-container .container-hero-1300 .footer-list ul h5 {
  margin: 10px 0;
  padding: 0;
}
footer .footer-hero-container .container-hero-1300 .footer-list ul li {
  list-style: none;
}
footer .footer-hero-container .container-hero-1300 .footer-list .move-up {
  position: relative;
  bottom: 30px;
}