footer{

    .footer-hero-container{
        background-image: url('../images/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow-y: hidden;

        .container-hero-1300{
            max-width: 500px;
            border: 1px solid red;
            
            margin: 50px 0 50px 200px;
            

            .sites-content{
                max-width: 600px;
            }
   
            .footer-image{
                position: absolute;
                right: 100px;
                top: 50%;
                transform: translateY(-50%);
            }

            .footer-list{
                flex-wrap: wrap;
                width: 300px;

                ul h5{
                    margin: 10px 0;
                    padding: 0;
                }

                ul li{
                    list-style: none;
                }

                .move-up{
                    position: relative;
                    bottom: 30px;
                    position: relative;
                   
                }

                
            }
        }

    }
}