.general-hero{

    
    .container-hero{
  
        height: 390px;
        background-image: url('../images/bg-hero-home.jpg');
        background-size: cover;
        
        .comic-image{
            border: 10px solid red;
            position: relative;
            top: 20px;
            left: 20px;
        }

        .current-series{
            background-color: $blue-dc;
            padding: 10px 0;
            width: 212px;
            text-align: center;
            position: relative;
            top: 17px;
            left: 20px;
            font-weight: 800;
            font-family: sans-serif;
            }

        .blue-bar{
            height: 38px;
            background-color: $blue-dc;
        }

        }

    }

    .comics{

        background-color: #1c1c1c;

        .container-comics{
            position: relative;
            background-color: #1c1c1c;
    
            .comic-list{
                padding: 30px 0;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 1em;
            }
            
            .load-more{
                background-color: $blue-dc;
                padding: 10px 20px;
                width: 150px;
                text-align: center;
                font-weight: 800;
                z-index: 10;
                margin: 20px auto;
            }
    
            .container-merchandise{
                width: 100%;
                background-color: $blue-dc;
    
                .merchandise-section{
                    // max-width: 1000px;
                    margin: auto;
                    justify-content: space-evenly;
                    padding: 20px 0;
                    background-color: $blue-dc;
                    img{
                        max-width: 50px;
                        object-fit: scale-down;
                    }
        
                } 
    
            }
    
        }
    }

