body{
    background-color: rgb(20, 24, 88);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: white;
}

ul li a{
    color: white;
}

$blue-dc: #0c7cec;